<a href="https://colab.research.google.com/github/lionelrug/Agile-Digital-Project/blob/master/GoldPriceP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING THE LIBRARIES

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [40]:
import pandas as pd

gold_data = pd.read_csv('/content/GP_Sept.csv')

In [41]:
gold_data.head()

         DATE    FR  INFL    M2     GLD   RIR  US/EURO
0  01/01/1991  5.53  5.65  3.82  392.75  3.72   1.3772
1  01/02/1991  7.85  5.65  3.82   390.8  3.72   1.3773
2  01/03/1991  7.18  5.65  3.82   386.3  3.72   1.3777
3  01/04/1991  6.52  5.65  3.82   387.4  3.72   1.3675
4  01/07/1991  6.26  5.65  3.82   391.1  3.72   1.3465

In [42]:
gold_data.tail()

            DATE    FR  INFL     M2      GLD   RIR  US/EURO
7994  08/25/2021  0.08   5.4  13.91  1709.13 -1.67   1.1739
7995  08/26/2021  0.08   5.4  13.91  1792.16 -1.66   1.1766
7996  08/27/2021  0.08   5.4  13.91  1816.52 -1.74   1.1750
7997  08/30/2021  0.08   5.4  13.91  1809.45 -1.74   1.1799
7998  08/31/2021  0.08   5.4  13.91  1813.42 -1.71   1.1809

In [43]:
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     7999 non-null   object
 1   FR       7999 non-null   float64
 2   INFL     7999 non-null   float64
 3   M2       7999 non-null   float64
 4   GLD      7999 non-null   object
 5   RIR      7999 non-null   float64
 6   US/EURO  7999 non-null   float64
dtypes: float64(5), object(2)
memory usage: 437.6+ KB

In [44]:
gold_data.isnull().sum()

DATE       0
FR         0
INFL       0
M2         0
GLD        0
RIR        0
US/EURO    0
dtype: int64

In [45]:
gold_data.describe(include = 'all')

              DATE           FR         INFL  ...     GLD          RIR     US/EURO
count         7999  7999.000000  7999.000000  ...    7999  7999.000000  7999.00000
unique        7999          NaN          NaN  ...    5507          NaN         NaN
top     12/14/1998          NaN          NaN  ...  369.25          NaN         NaN
freq             1          NaN          NaN  ...      11          NaN         NaN
mean           NaN     2.562860     2.296053  ...     NaN     1.943857     1.20304
std            NaN     2.246249     1.251666  ...     NaN    16.803632     0.14373
min            NaN     0.040000    -2.100000  ...     NaN    -1.910000     0.82730
25%            NaN     0.170000     1.610000  ...     NaN     0.140000     1.11580
50%            NaN     1.960000     2.300000  ...     NaN     1.210000     1.20770
75%            NaN     5.010000     3.010000  ...     NaN     2.010000     1.30050
max            NaN    10.390000     6.050000  ...     NaN   321.000000     1.59880

[11 rows x 7 columns]

In [36]:
correlation = gold_data.corr()
plt.figure(figsize = (8,8))

In [ ]:
Correlation :

1. Positive Correlation
2. Negative Correlation

In [28]:
import matplotlib.pyplot as plt
import seaborn as sns

correlation = gold_data.corr()

In [55]:
gold_data[['GLD', 'DATE']] = gold_data[['GLD', 'DATE']].astype(str)

gold_data = gold_data.astype(str)

gold_data.dtypes

gold_data.info()

gold_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     7999 non-null   object
 1   FR       7999 non-null   object
 2   INFL     7999 non-null   object
 3   M2       7999 non-null   object
 4   GLD      7999 non-null   object
 5   RIR      7999 non-null   object
 6   US/EURO  7999 non-null   object
dtypes: object(7)
memory usage: 437.6+ KB

              DATE    FR  INFL    M2     GLD   RIR US/EURO
count         7999  7999  7999  7999    7999  7999    7999
unique        7999   640   239   295    5507   512    3953
top     12/14/1998  0.09  2.23  5.61  369.25  1.21   1.227
freq             1   582   108    87      11    90       9

In [56]:
gold_data.describe()

              DATE    FR  INFL    M2     GLD   RIR US/EURO
count         7999  7999  7999  7999    7999  7999    7999
unique        7999   640   239   295    5507   512    3953
top     12/14/1998  0.09  2.23  5.61  369.25  1.21   1.227
freq             1   582   108    87      11    90       9

In [57]:
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     7999 non-null   object
 1   FR       7999 non-null   object
 2   INFL     7999 non-null   object
 3   M2       7999 non-null   object
 4   GLD      7999 non-null   object
 5   RIR      7999 non-null   object
 6   US/EURO  7999 non-null   object
dtypes: object(7)
memory usage: 437.6+ KB

In [58]:
correlation = gold_data.corr()

In [66]:
import seaborn as sns
import matplotlib.pyplot as plt

correlation = gold_data.corr()
plt.figure(figsize = (8,8))
sns.heatmap(correlation,cbar=True, square=True, fmt='.1f', annot=True, annot_kws= {'size':8}, cmap='Blues')

ValueError: ignored